body{
    background-color:black;
    font-size: 48px;
    color:rgb(212, 0, 0);
    text-align: center;
    font-family: 'Cinzel', serif;
}

p{

font-size: 25px;
color: ghostwhite;

}

#BramStoker{
color: rgb(212, 0, 0);
font-size: 25px;
font-weight: 700;
}

#Indicações{

    display: block;
}