body{
    background-color:black;
    font-size: 48px;
    color:rgb(212, 0, 0);
    text-align: center;
}

p{

font-size: 25px;
color: ghostwhite;

}

# Bram Stoker{
color: rgb(212, 0, 0);
font-size: 25px;
}